<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @recipe.image %>);">
   <div class="recipe_form">
    <span><%= image_tag @recipe.image if @recipe.image.attached? %></span>
   </div>
    <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_recipe_path(@recipe.id) %>
        </li>
        <li>
          <%= link_to '削除', recipe_path(@recipe.id), data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
    <span class="name"><%= @recipe.name %></span>
  </div>
  <div class="explain_zone">
   <%= @recipe.explain.gsub("\n", '<br>').html_safe %>
  </div>
  <%= render "shared/sideber" %>
</div>
    <%= render "shared/footer" %>
</html>
  